h1{
  text-align: center;
}
body{
  background: black;
}
p,h1,h2,h3{
  color: #fff;
}
#guessedL{
  color: red;
}
#spanWord{
  /*without this, you can't tell between the spaces on the random word*/
  letter-spacing: 4px;
}
/*Attempting to size text in site by size of screen*/
div p {
  font-size: 14px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
@include media-breakpoint-up(sm) {
  div p {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  div p {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  div p {
    font-size: 28px;
  }
}
/*End of attempt to size text in site by size of screen*/
